<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b2124379f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styleR.css">
</head>

<body>
    <header>
        <div class="headerU">
            <div class="logo">

                <img class="mercado" src="/img/logo-mercado-liebre.svg" alt="">

            </div>
            <div class="itemsU">

                <form action="/" method="get">
                    <input type="search" name="busquedamusica" placeholder="Buscar marcas, productos">

                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

            </div>

            <div class="itemsI">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <div class="navbar">
            <nav>
                <ul id="menu1" class="izquierda">
                    <li id="ofertas"><a href="">Ofertas</a></li>
                    <li id="tienda"><a href="">Tiendas Virtuales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul id="menu1" class="derecha">
                    <li><a href="http://localhost:3030/register"><i class="fa-solid fa-users-viewfinder"></i> Crea tu
                            Cuenta</a></li>
                    <li id="ingresa"><a href="http://localhost:3030/login"><i
                                class="fa-solid fa-arrow-right-to-bracket"></i> Ingresa</a></li>
                    <li><a href=""><i class="fa-solid fa-basket-shopping"></i> Mis Compras</a></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <center>
                <i class="fas fa-bars menu"></i>
            </center>
        </div>
        <div class="banner">
            <img src="/img/img-home-banner.jpg" alt="">
        </div>
    </header>

    <main>
        <form id="formulario" action="">
            <label for="Nombre">Nombre</label><input type="text" id="nombre" name="Nombre">
            <label for="apellido">Apellido</label><input type="text" id="apellido" name="apellido">
            <label for="Nombre de usuario">Nombre de usuario</label><input id="nombreU" type="text"
                name="Nombre de usuario">
            <label for="Fecha de Nacimiento">Fecha de Nacimiento</label><input type="date" id="date"
                name="Fecha de Nacimiento">
            <label for="Domicilio">Domicilio</label><input type="text" name="Domicilio">
            <label for="Perfil del usuario" class="renglon">Perfil del usuario</label>
            <input type="radio" name="Perfil del usuario" id="perfil1" value="Venta"><label for="Perfil del usuario"
                class="chicos">Venta</label><input type="radio" name="Perfil del usuario" id="perfil2"
                value="Compra"><label for="Perfil del usuario" class="chicos">Compra</label>
            <label for="Categorías de interés" class="renglon">Categorías de interés</label>
            <input type="checkbox" name="Categorías de interés" id="categoria1" value="Electro"><label
                for="Categorías de interés" class="chicos">Electro</label>
            <input type="checkbox" name="Categorías de interés" id="categoria2" value="Moda"><label
                for="Categorías de interés" class="chicos">Moda</label>
            <input type="checkbox" name="Categorías de interés" id="categoria3" value="Hogar"><label
                for="Categorías de interés" class="chicos">Hogar</label>
            <input type="checkbox" name="Categorías de interés" id="categoria4" value="Jugueteria"><label
                for="Categorías de interés" class="chicos">Jugueteria</label>
            <input type="checkbox" name="Categorías de interés" id="categoria5" value="Vida sana"><label
                for="Categorías de interés" class="chicos">Vida sana</label>
            <label for="Foto">Foto de Perfil</label><input type="file" id="foto" name="Foto" value="">
            <label for="Contrasenia">Contraseña</label><input type="password" id="password" name="Contrasenia">
            <label for="NContrasenia">Repetir Contraseña</label><input type="password" id="password2" name="NContrasenia">
            <input type="reset" class="boton" name="">
            <input type="submit" class="boton" name="">
        </form>

        <script>

            const formulario = document.getElementById('formulario');

            

            formulario.addEventListener('submit', function (e) {
                if (formulario.nombre.value.length < 2) {
                    alert('No se ingresó un nombre válido!');
                    e.preventDefault();
                }
                else if (formulario.apellido.value.length < 2) {
                    alert('No se ingresó un apellido válido!');
                    e.preventDefault();
                }
                else if (formulario.nombreU.value.length < 2) {
                    alert('No se ingresó un nombre de Usuario válido!');
                    e.preventDefault();
                }
                else if ((Date.now() - Date.parse(formulario.date.value)) < 567993600000) {
                    alert('Tienes que ser mayor de edad para registrarse');
                    e.preventDefault();
                }
                else if (formulario.perfil1.checked == false) {
                    if (formulario.perfil2.checked == false) {
                        alert('Tienes que seleccionar un perfil');
                        e.preventDefault();
                    }
                }
                else if (formulario.categoria1.checked == false) {
                    if (formulario.categoria2.checked == false) {
                        if (formulario.categoria3.checked == false) {
                            if (formulario.categoria4.checked == false) {
                                if (formulario.categoria5.checked == false) {
                                    alert('Tienes que seleccionar por lo menos una categoria');
                                    e.preventDefault();
                                }
                            }
                        }
                    }
                }
                else if (formulario.foto.value == "") {
                    alert('Tienes que seleccionar una foto');
                    e.preventDefault();
                }
                
                
                else if (tiene_numeros(formulario.password.value)==0 || tiene_letras(formulario.password.value)==0 ) {
                    alert('La contraseña debe contener numeros y letras');
                    e.preventDefault();
                }
                
                else if(formulario.password.value!=formulario.password2.value){
                    alert('Las contraseñas deben coincidir');
                    e.preventDefault();
                }
                else {
                    alert('Se ha registrado correctamente!!')
                }
                

                function tiene_numeros(texto) {
                    var numeros="0123456789";
                    for (i = 0; i < texto.length; i++) {
                        if (numeros.indexOf(texto.charAt(i), 0) != -1) {
                            return 1;
                        }
                    }
                    return 0;
                }

                function tiene_letras(texto) {
                    var letras="abcdefghyjklmnñopqrstuvwxyzABCDEFGHYJKLMNÑOPQRSTUVWXYZ";
                    texto = texto.toLowerCase();
                    for (i = 0; i < texto.length; i++) {
                        if (letras.indexOf(texto.charAt(i), 0) != -1) {
                            return 1;
                        }
                    }
                    return 0;
                }
            });
        </script>
    </main>

    <footer>
        <section>
            <div><i class="fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section class="cop">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>