
/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/
.banner {
    display: flex;
    height: 15vh;
    padding: 0px;
}

.banner img{
    width: 100%;
    align-items: stretch;
}

.mercado{
    max-width: 100%;
    margin-top: 3vh;
    margin: auto;
}

main img {
    max-width: 100%;
    align-content: center;
    border-bottom: 2px solid #ebebeb;
    width: 100%;
}
* {
    font-family: 'Roboto', sans-serif;
    margin : 0px;
    box-sizing: border-box;
    color: #03264C;
}

.titulares {
    font-size: 24px;
}

.precios {
    font-size: 1em;
    width: 30%;
    padding-top: 20px;
    text-align: center;
}

.descuentos {
    font-size: 1em;
    font-weight: bold;
    width: 70%;
    color: #39b54a;
    padding-top: 20px;
    text-align: center;
}

main h3 {
    font-size: 1em;
    color: #666;
    display: none;
    padding-top: 20px;
    width: 100%;
}

header {
    background-color: #EAC926;

}

article {
    max-width: 90%;
    margin : auto;
    margin-bottom: 10px;
}

header div {
    padding-top: 5vh;
    background-color: #EAC926;
}


.menu {
    background-color: #1259c3;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    padding: 7px;
}

.burger-menu{
    padding-bottom: 5vh;
}

header ul {
    list-style-type: none;
    
}

#menu1 {
    padding-bottom: 5vh;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #ebebeb;
    padding: 0vh 1vh 2vh 1vh;
}
footer section {
    background-color: white;
    padding: 10vh 5vh 2vh 5vh;
    text-align: center;
    width: 90%;
    margin: auto;
}
.cop {
    text-align: left;
    padding-left: 1vh;
}

footer section h3{
    font-size: 24px;
}

footer section i {
    color: #1259c3;
    font-size: 2em;
    padding: 2vh;
}
footer {
    background-color: #ebebeb;
    padding: 0vh 1vh 2vh 1vh;
}
main h2 {
    color: #666;
    background-color: #ebebeb;
    padding-bottom: 2vh;
    width: 90%;
    margin: auto;
}

main {
    background-color: #ebebeb;
    padding: 2vh 1vh 2vh 1vh;
}

main article {
    margin-bottom: 10px;
    background-color: white;
    padding: 15px;
    border: 1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

main article i {
    color: #39b54a;
    background-color: white;
    padding: 5px;
    border: 1px solid #39b54a;
    border-radius: 100%;
    position: absolute;
    top: 75%;
    left: 80%;
}

.headerU {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    justify-content: space-around;
}

.logo {
    width: 50%;
    padding-top: 0px;
    justify-content: center;
    align-items: stretch;
    display: flex;
    padding: 5px;
}


.itemsU {
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
}
.itemsU form {
    display: flex;
    width: 100%;
}
.itemsU input{
    width: 85%;
    border: 1px solid #ebebeb;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: 0px;
    padding-right: 0px;
    height: 30px;
}

.itemsU button{
    width: 15%;
    background-color: white;
    border: 1px solid #ebebeb;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 0px;
    height: 30px;
}

.navbar {
    display: none;
}
#segundo { 
    margin-top: 10px;
}

@keyframes rotacion {
    20%{transform:rotate(90deg)}
    40%{transform:rotate(180deg)}
    60%{transform:rotate(270deg)}
    80%{transform:rotate(360deg)}
    100%{transform:rotate(-90deg)}
}

main article:hover h3{
    display: block;
}
main article:hover i {
    animation: rotacion 2.5s 1;
    transform: rotate(-90deg);
}
main article:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
@keyframes clikeame {
    50%{transform: translateY(5px);}
    100%{transform: translateY(-5px);}
}
footer section:hover i{
    color: #39b54a;
    animation: clikeame 0.5s infinite;
}
@media (min-width: 361px) {
    
    main article {
        box-shadow: 0px 0px 10px #666;
    }
    .navbar {
        display:block;
        padding-top: 20px;
    }
    .navbar nav {
        display: flex;
    }
    #menu1{
        width: 50%;
        display: flex;
    }
    .izquierda {
        justify-content: flex-start;
        padding: 0px 0px 10px 10px !important;
        align-items: center;
        padding-bottom: 10px !important;
    }
    .izquierda li{
        width: 20%;
        font-size: 0.80em;
        margin: 0;
    }
    #ofertas {
        text-align: center;
    }
    #tienda {
        width: 32%;
        margin: 0px;
    }
    .derecha {
        justify-content: flex-end;
        padding: 10px 10px 0px 0px;
        padding-bottom: 10px !important;
        padding-top: 0px !important;
    }
    #ingresa {
        width: 23%;
    }
    .derecha li{
        width: 30%;
        font-size: 0.80em;
        margin: 0;
    }
    .burger-menu {
        display: none;
    }
    .titulares {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main h2 {
        width: 100%;
    }
    main article {
        width: 40%;
        margin: 10px;
        
    }
    main article p {
        font-size: 0.5em;
    }
    .precios {
        font-size: 0.5em;
    }
    .descuentos {
        font-size: 0.5em;
    }
    main article i {
        top: 60%;
        left: 80%;
    }
    .logo {
        width: 30%;
    }
    .itemsU {
        width: 30%;
    }
    .itemsI{
        width: 40%;
        font-size: 0.75em;
        text-align: center;
        align-items: center;
        margin: auto;
        padding: 0px;
    }
    
    .banner {
        height: 25vh;
    }
}

@media (min-width: 769px) {
    
    .titulares {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main h2 {
        width: 100%;
    }
    main article {
        width: 20%;
        margin: 10px;
        
    }
    .precios {
        font-size: 0.5em;
    }
    .descuentos {
        font-size: 0.5em;
    }
    main article i {
        top: 55%;
        left: 80%;
    }
    .banner {
        height: 30vh;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer section {
        width: 33%;
        margin: 0px;
        padding-top: 20px;
    }
    .cop {
        width: 100%;
        background-color: #ebebeb;
    }
}