main {
    background-color: #ebebeb;
}
main form {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

main form input {
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}

main form label {
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.renglon {
    width: 100%;
}
